/* Font Section  */
.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px 20px;
  max-width: 1280px;
  margin: 0 auto;
}

/* Logo */
.logo {
  height: 50px;
}

/* Navbar links */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Cart icon */
.cart-icon {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Header Section  */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: white;
  gap: 20px;
}
.logo{
  width: 135px;
  height: 82px;
}
.right-part{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links{
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
  font-weight: 500;
}
.cart-icon{
  font-size: 24px;
  text-decoration: none;
  color: rgba(137, 135, 161, 1);
  width: 24px;
  height: 24px;
}
/* banner */
.banner{
  display: flex;
   max-width: 1280px;
  margin: 0 auto;
  width: 1140px;
  height: 461px;
  margin-top: 100px;
  align-items: center;
  padding-left: 100px;
  gap: 150px;
}
.banner h1{
  font-weight: bold;
  font-size: 40px;
  
}
.banner p{
  color: #838181;
  margin-top: 13px;
  font-size: 16px;
  

}
/* left section  */
.left-section{
  width: 570px;
  height: 299px;
}
/* Product Section  */
.product-section{
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  font-size: 50px;
  
}
.product-section P {
  font-size: 16px;
  color: #9e9b9b;
  
}
/* product grid section  */
.product-grid{
  background-color: #FFFFFF;
 display: grid;
 grid-template-columns: repeat(4,1fr);
 max-width: 1280px;
 margin: 0 auto;
 margin-top: 20px;
 }
 .product-grid h3, p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

 }
.product-grid button{
width: 270px;
height: 50px;
background-color:  #E95A08;
color: white;
padding: 20px 10px;
margin: 20px 10px;
display: flex;
justify-content: center;
align-items: center;
}

.product-grid p{
  font-size: 22px;
  font-weight: bolder;
}
.product-grid h2 p{
 display: flex;
 justify-content: center;
 text-align: center;
 padding-left: 10px;
 padding-top: 10px;
}
.product-grid {
  margin-top: 10px;
  
}

/* Flower Plants Lover */
.flower-store{
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 1140px;
  height: 597px;
  margin-top: 127px;
  margin-bottom: 100px;


}
.flower-content{
  margin-left: 20px;
  flex: 1;
 
} 
.flower-img{
margin-right: 140px;
padding-right: 90px;
}
.flower-content h2{
font-size: 50px;
font-weight: bold;
color: #000000;
}
.flower-content p{
  font-size: 22px;
  color: #b5b3b3;
}
.flower-content {
  color: #9e9b9b;
}

/* Latest Deal Section  */
.latest-deal{
  max-width: 1280px;
 display: flex;
 display: block;
 justify-content: center;
 text-align: center;
 justify-content: center;
 margin-left: 120px;
 margin-bottom: 110px;
  }
  .latest-deal h1 {
    font-size: 50px;
    font-weight: bold;
    /* width: 1440px; */
    /* height: 138px; */
  }
    .latest-deal p{
      margin-top: 16px;
    }
  /* Grid Container  */
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1fr,1fr);
    gap: 10px;
    width: 1140px;
    height: 423px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    gap: 25px;
    margin-bottom: 120px;
    border-radius: 30px;
  }
  .left{
    display: grid;
    grid-template-rows: 1fr, 1fr;
    gap: 20px;
    border-radius: 40px;
  }
 
  .right{
    height: 100%;
    border-radius: 40px;
  }

  /* join section  */
  .join-section{
    background-image: url(../assets/news-letter-bg.png);
    max-width: 1280px;
    margin: 0 auto;
    width: 1140px;
    height: 433px;
    margin-bottom: 50px;
   
  }

  /* join section  */
  .section{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #FFFFFF;
   
  }

  .join-section {
    text-align: center;
  }
  .input-group input{
    padding: 10px 15px;
    border: 1px solid black;
    /* border-radius: 10px; */
    background-color: white;
    width: 644px;
    height: 50px;
    margin-top: 150px;
    gap: 0;
   margin-bottom: 20px;
  }
  .input-group button{
    background-color: #E95A08;
    color: #FFFFFF;
    width: 186px;
    height: 50px;
    padding: 0 26px;
  }
/* .input-group input h1{
  margin-top: 50px;
  text-align: center; */
}
.join{
  font-size: 50px;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 10px;
}
.join-section h1{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
gap: 190px;
font-size: 50px;
font-weight: bold;
}
/* Footer Section  */
.footer-section{
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
 padding-left: 60px;
text-decoration: none;
margin-bottom: 50px;

  }
.footer-section li{
 list-style-type: none;
 gap: 15px 10px;
 color: #9e9b9b;
 padding-top: 10px;


}
.social-icon{
  display: flex;
  width: 216px;
  height: 36px;
  size: 10px;
  gap: 10px;
  padding-right: 10px;
  margin-right: 20px;
}
.footer-section p{
  display: flex;
  margin-bottom: 10px;
  width: 259px;
  height: 81px;
  margin-top: 20px;
  font-size: 16px;
  color: #9e9b9b;
  padding-right: 20px;
  margin-right: 40px;
}
.footer-section logo {
  margin-top: 5px;
  padding-top: 5px;
  width: 135px;
  height: 22px;

}
  